<h3>Create a New Post</h3>

<form id="NewPost">
    <p>
      {{input value=newPost.title placeholder="title"}}
      {{input value=newPost.author placeholder="author"}}
    </p>
    <p>
      {{textarea value=newPost.text placeholder="Content" rows="10"}}
    </p>
    <p>
        <button {{action "createPost" newPost}}>Publish</button>
    </p>
</form>
