<div class="container">
  <div class="navbar navbar-default" role="navigation">
    <ul class="nav nav-bar">
      <li> {{#link-to 'posts'}} Posts {{/link-to}} </li>
      <li> {{#link-to 'contact'}} Contact {{/link-to}}</li>
      <li> {{#link-to 'about'}} About {{/link-to}} </li>
    </ul>
  </div>

  <h1> Contact Us </h1>
  {{#link-to 'phone'}} phone {{/link-to}}
  {{#link-to 'email'}} email {{/link-to}}
  <div>
  	{{outlet}}
  </div>
</div>
