<div class="container">
  <div class="navbar navbar-default" role="navigation">
    <ul class="nav nav-bar">
      <li> {{#link-to 'about'}} About {{/link-to}}</li>
      <li> {{#link-to 'posts'}} Posts {{/link-to}}</li>
      <li> {{#link-to 'contact'}} Contact {{/link-to}}</li>
    </ul>
  </div>

  <ul>
    <li> <a href="#"> I love blood ! </a> </li>
    <li> <a href="#"> The count </a> </li>
    <li> <a href="#"> Labas Vakaras </a> </li>
  </ul>
</div>
